:root {
  --thickness: 1px;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  border: 0px solid grey;
  border-width: var(--thickness) 0px 0px var(--thickness);
}

.row {
  display: flex;
}

.cell {
  flex: auto;
  aspect-ratio: 1;
  border: 0px solid grey;
  border-width: 0px var(--thickness) var(--thickness) 0px;
  /* padding: 15px; */
  border-collapse: collapse;
}